
@page {
  size: a4 landscape;
  padding: 20px 15px;
  background-image: url("static/logo.png");
  background-opacity: 1;
}
@frame footer_frame {
  -pdf-frame-content: footer_content;
}

.container {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
