{% extends "voting/base.html" %}

<!---->
{% block title %}{{ block.super }} Voter Email Verification {% endblock title %}
<!---->
{% block content %}


<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top:10%;">
            <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row">
                <div class="col-xs-12">
                    <div class="box box-solid" id="">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                        <b>Please, you'd need to verify ownership of this account.</b>
                        
                        </h3>
                    </div>
                    <div class="box-body">
                
                        <ul>
                        <p>
                            We need to verify that it's you requesting for this action
                            Remember logging to people's accounts is a crime **-***-*
                        </p>
                        </ul>
                        <hr />

                        <div class="form-group has-feedback">
                            <input
                                type="text"
                                class="form-control"
                                name="email"
                                placeholder="Email address"
                                required
                            />
                        
                            <span
                            class="glyphicon glyphicon-user form-control-feedback"
                            ></span>
                        </div>
                          <div class="form-group has-feedback">
                                 <input type="password" placeholder="password" name="password" value="" class="form-control" />
                            <span
                            class="glyphicon glyphicon-lock form-control-feedback"
                            ></span>
                          
                                </div>    
                    <button
                        type="submit"
                        class="btn btn-success btn-flat"
                        name="verify"
                        >
                        <i class="fa fa-check-square-o"></i> Reset my password
                        </button>

                         <a
                        
                        href="{% url 'account_login' %}"
                        class="btn btn-primary btn-flat"
                        name="verify"
                        >
                        <i class="glyphicon glyphicon-log-in"></i> Back to login
                        </a>
                    </div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    <div>
</section>



{% endblock content %}
