{% extends "voting/base.html" %}

<!---->
{% block title %}{{ block.super }} Password Reset Success {% endblock title %}
<!---->
{% block content %}


<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top:10%;">
            <div>
                {% csrf_token %}
                <div class="row">
                <div class="col-xs-12">
                    <div class="box box-solid" id="">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                        <b>Your password was reset successfully.</b>
                        
                        </h3>
                    </div>
                    <div class="box-body">
                
                        <ul>
                        <p>
                           Hello, we've successfully reset your password. You can now proceed to login and vote!!!.
                           ***_***..** Use the password you've just changed.
                        </p>
                        </ul>
                        <hr />
                        <div class="form-group has-feedback">
                        

                            <a
                            href="{% url 'account_login' %}"
                            class="btn btn-primary btn-flat"
                            name="verify"
                            >
                            <i class="glyphicon glyphicon-log-in"></i> Proceed to login
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    <div>
</section>




{% endblock content %}
