{% extends "base.html" %}
<!---->
{% load static %}
<!---->
{% block title %} {{ block.super }} About Us {% endblock title %}
<!---->
{% block content %}
<div class="large-9-columns">
  <div class="row"><h2>About JpsaElector Voting</h2></div>

  <div class="row">
    <p>JpsaElector is a non-partisan organization</p>
  </div>

  <div class="row">&nbsp;</div>

  <div class="row">
    <h3 style="color: crimson">Code Contributors (2)</h3>
    <h5>Jeckonia Onyango (Backend Developer && Code Reviewer)</h5>
    <h5>Daniel Milimo (UX/UI Designer)</h5>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <h3 style="color: crimson">Advisors (0)</h3>
  </div>

  <div class="row">&nbsp;</div>
  <div class="row">
    <h3 style="color: crimson">Sponsors (0)</h3>
  </div>

  <div class="row">&nbsp;</div>
</div>

{% endblock content %}
<!---->
