<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}JepshaElector | {% endblock title %}</title>

    <link
      rel="stylesheet"
      href="{% static 'foundation/css/foundation.css' %}"
    />
    <link rel="stylesheet" href="{% static 'foundation-tweaks.css' %}" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />

    <script language="javascript" src="{% static 'helios.js' %}"></script>
  </head>
  <body>
    <div class="wrapper">
      {% include "nav.html" %}

      <!-- Main Page Content and Sidebar -->

      <div class="row" id="contentbody">
        {% block content %} {% endblock content %}
      </div>

      <div class="push"></div>
    </div>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
