{% extends 'root.html' %} {% block content %}
<section class="content">
  {% comment %}
  <h1 class="page-header text-center title"><b>WHISTLE BLOWING</b></h1>
  {% endcomment %}
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div
        class="alert alert-danger alert-dismissible"
        id="alert"
        style="display: none"
      >
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-hidden="true"
        >
          &times;
        </button>
        <span class="message"></span>
      </div>

      <!-- Voting Ballot -->
      <form
        method="POST"
        style="width: 100%; padding-top: 4rem !important"
        action="{% url 'proposal' %}"
      >
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-12">
            <div class="box box-solid" id="">
              <div class="box-header with-border">
                <h3 class="box-title">
                  <b>How woul you want us to improve our system?</b>
                </h3>
              </div>
              <div class="box-body">
                Your suggestion is higly appreciated to help us make this a
                better system both for electee and the contestant and increase
                on integrity of the votes
                <hr />
                <div class="form-group has-feedback">{{form.content}}</div>
                <button
                  type="submit"
                  class="btn btn-primary btn-flat"
                  name="verify"
                >
                  <i class="glyphicon glyphicon-ok"></i> Submit Proposal
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
